<%= form_for(@diary_entry) do |f| %>
  <% if @diary_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diary_entry.errors.count, "error") %> prohibited this diary_entry from being saved:</h2>

      <ul>
      <% @diary_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <%= f.label :lights_out, class: "col-md-2" %>
    <%= f.text_field :lights_out_formatted, :class => "col-md-2" %>
  </div>
  <div class="field row">
    <%= f.label :wakeup, class: "col-md-2" %>
    <%= f.text_field :wakeup_formatted, :class => "col-md-2" %>
  </div>
  <div class="field row">
    <%= f.label "Minutes awake", class: "col-md-2" %>
    <%= f.text_field :awake_duration, class: "col-md-2" %>
  </div>
  <div class="field row">
    <%= f.label :rating, class: "col-md-2" %>
    <%= f.number_field :rating, class: "col-md-2" %>
  </div>

  <div class="field row">
    <%= f.label :notes, class: "col-md-2" %>
    <%= f.text_area :notes, :rows => "10", :width => "100%", :class => "row-fluid col-md-10" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
