<div class="row titlerow">
  <div class="col-xs-2 col-md-1">Month</div>
  <div class="col-xs-1 col-md-1">Day</div>
  <div class="col-xs-2 col-md-1">Date</div>
  <div class='col-xs-1'>Woke</div>
  <div class='col-xs-1'>Hours</div>
  <div class='col-xs-1'>Rating</div>
  <div class='col-xs-2'></div>
</div>

<% prev_diary_entry = nil %>
<% @diary_entries.each do |diary_entry| %>
  <div class="row">
    <div class="col-xs-2 col-md-1"><%= month_if_new(diary_entry, prev_diary_entry) %>&nbsp;</div>
    <div class="col-xs-1 col-md-1"><%= day_only(diary_entry.wakeup) %></div>
    <div class="col-xs-2 col-md-1"><%= link_to date_only(diary_entry.wakeup), diary_entry %></div>
    <div class='col-xs-1'><%= diary_entry.times_awake %>&nbsp;</div>
    <div class='col-xs-1'><%= diary_entry.sleep_duration_in_hours_as_string %></div>
    <div class='col-xs-1'><%= diary_entry.rating %>&nbsp;</div>
    <div class='col-xs-2 col-md-6'>
      <%= link_to 'Edit', edit_diary_entry_path(diary_entry) %> |
      <%= link_to 'Destroy', diary_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div>
  </div>
  <% prev_diary_entry = diary_entry %>
<% end %>


<br>

<div class="row footerrow">
  <div class="col-xs-12">
    <%= link_to 'New Diary entry', new_diary_entry_path %>
  </div>
</div>
