<div id="notice"><%= notice %></div>

<div id="rating" class="row">
  <div class='col-xs-2  heading'>Rating:</div>
  <div class='col-xs-10 cell'><%= @diary_entry.rating %></div>
</div>

<div id="duration" class="row">
  <div class='col-xs-2  heading'>Duration:</div>
  <div class='col-xs-10 cell'> <%= @diary_entry.sleep_duration_in_hours_as_string %> hours</div>
</div>

<div id="lights_out" class="row">
  <div class='col-xs-2  heading'>Lights out:</div>
  <div class='col-xs-10 cell'> <%= @diary_entry.lights_out_formatted %> </div>
</div>

<div id="woke_up" class="row">
  <div class='col-xs-2  heading'>Woke up:</div>
  <div class='col-xs-10 cell'> <%= @diary_entry.wakeup_formatted %></div>
</div>

<div id="awake" class="row">
  <div class='col-xs-2  heading'>Awake:</div>
  <div class='col-xs-10 cell'> <%= @diary_entry.awake_duration %> minutes</div>
</div>

<div id="notes" class="row">
  <div class='col-xs-2  heading'><p>Notes:</p></div>
  <div class='col-xs-10 cell'> <%= @markdown.render(@diary_entry.notes).html_safe %></div>
</div>

<%= link_to 'Prev', @diary_entry.prev %> |
<%= link_to 'Next', @diary_entry.next %> |

<%= link_to 'Edit', edit_diary_entry_path(@diary_entry) %> |
<%= link_to 'All entries', diary_entries_path %>
