<div id="notice"><%= notice %></div>

<div id="rating" class="row titlerow">
  <div class='col-xs-11'>
    <%= link_to 'Prev', @diary_entry.prev %> |
    <%= link_to 'Next', @diary_entry.next %>
  </div>
  <div class='col-xs-1'>
    <%= link_to 'Edit', edit_diary_entry_path(@diary_entry) %>
  </div>
</div>

<div id="rating" class="row">
  <div class='col-xs-2  heading'>Rating:</div>
  <div class='col-xs-10 cell'><%= @diary_entry.rating %></div>
</div>

<div id="duration" class="row">
  <div class='col-xs-2  heading'>Duration:</div>
  <div class='col-xs-10 cell'> <%= @diary_entry.sleep_duration_in_hours_as_string %> hours</div>
</div>

<div id="lights_out" class="row">
  <div class='col-xs-2  heading'>Lights out:</div>
  <div class='col-xs-10 cell'> <%= short_time(@diary_entry.lights_out) %> </div>
</div>

<% if @diary_entry.times_awake %>
  <div id="times_awoke" class="row">
    <div class='col-xs-2  heading'>Times awake:</div>
    <div class='col-xs-10 cell'> <%= @diary_entry.times_awake %></div>
  </div>
<% end %>

<div id="woke_up" class="row">
  <div class='col-xs-2  heading'>Woke up:</div>
  <div class='col-xs-10 cell'> <%= short_time(@diary_entry.wakeup) %></div>
</div>

<div id="awake" class="row">
  <div class='col-xs-2  heading'>Awake:</div>
  <div class='col-xs-10 cell'> <%= @diary_entry.awake_duration %> minutes</div>
</div>

<% if @diary_entry.notes && !@diary_entry.notes.empty? %>
<div id="notes" class="row">
  <div class='col-xs-2  heading'><p>Notes:</p></div>
  <div class='col-xs-10 cell'> <%= @markdown.render(@diary_entry.notes).html_safe %></div>
</div>
<% end %>

